.header {
    padding: 15px 80px;
    background-color: #eceaea;
}

.navbar-items a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
}

.navbar-items a:hover {
    color: tomato;
}

.navbar-items button {
    color: #273C66;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: .2s;
    border: none;
    background: none;
}


.header-title {
    line-height: 0;

}

.header-title h2 {
    font-weight: 800;
}

.header-title span {
    color: #ff5200;

}

.header-title p {
    font-size: 13px;
}