.form-container {
    width: 27%;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    padding: 20px;
}

.login-button {
    display: block;
    width: 100%;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 8px;
    outline: none;
    transition: .3s;
    background-color: #273C66;
    color: white;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #2f4f8f;
}

.horizontal-line {
    background: #2f4f8f;
    height: 1px;
    width: 127px;
}

.register-link {
    color: tomato;
    transition: .2s;
}

.register-link:hover {
    color: #0A58CA;
}

.google-button {
    border: 1px solid #273C66;
    border-radius: 5px;
    background-color: white;
    transition: .2s;
}

.google-button:hover {
    background-color: rgb(238, 238, 238);
}

.error-message {
    color: red;
}